@model Miembro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Miembro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreMiembro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreMiembro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailOpcional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailOpcional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoAportado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoAportado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Suscripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Suscripcion.ApplicationUserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MiembroID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
